<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>214我愛港湖人</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="./libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="./style/app.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="./libs/ie/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="./libs/ie/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '888195151232497',
          xfbml      : true,
          version    : 'v2.2'
        });

        // ADD ADDITIONAL FACEBOOK CODE HERE
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script type="text/paperscript" canvas="canvas">
      var point = new Point(320, 213);
      var raster = new Raster('img/background.jpg', point);

      var text = new PointText(new Point(100, 150));
      text.fillColor = 'red';
      text.strokeWidth = '4';

      text.content = $('#todo').val();
      function onKeyUp(event) {
        text.content = $('#todo').val();
      }
    </script>
  </head>

  <body>
    <div class="container">
      214我愛港湖人
    </div>
    <input type="text" id="todo" value="告白">
    <canvas id="canvas" width="640" height="426"></canvas>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="./libs/jquery/dist/jquery.min.js"></script>
    <script src="./libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./libs/paper/dist/paper-full.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="./libs/ie/ie10-viewport-bug-workaround.js"></script>
    <script src="script/app.js"></script>
  </body>
</html>
